$shadow_color: rgba(#000, 0.2);
$boxshadow_h_offset: -10px;
$boxshadow_v_offset: 10px;

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Sanchez');

body {
  background: url(https://res.cloudinary.com/www-virgin-com/f_auto,fl_lossy,q_80/virgin-com-prod/profiles/site_installer/themes/custom/virgin/images/bg-main.png?1490882117) #FFF;
}

.main {
  box-shadow: $boxshadow_h_offset $boxshadow_v_offset $shadow_color;  
}

@media screen and (min-width: 40em) {
  article {
    width: 29%;
  }
}

a {
  text-decoration: none;
  box-sizing: border-box;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto;
}

.submit {
  margin-right: 10px;
  font-size: 12px;
  font-family: "Montserrat",sans-serif;
  line-height: 1.8rem;
  color: #999
}

.shareSection {
  margin-left: 10px;
}

.dateSection {
  margin-right: 10px;
}

.date, .shares {
  font-weight: bold;
  margin-right: 3px;
}

.content {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  height: 231px;
  background-color: rgb(255,255,255);
  box-sizing: border-box;
  word-wrap: break-word;
}

.sub {
  background-color: rgb(2550, 10, 10);
  color: rgb(255,255,255);
  font-family: "Josefina Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  min-width: 175px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

section {
  width: 980px;
}

article {
  float: left;
  margin: 20px;
}

h2 {
  box-sizing: border-box;
  font-family: "Sanchez",serif;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  font-weight: normal;
  color: rgb(51,51,51);
  font-size: 26px;
  line-height: 30px;
  display: block;
  word-wrap: break-word;
}