html
  head
    title!= title
    link(href="/stylesheets/base.css", rel="stylesheet")
  body   
  div
    span Ricardo Sanchez Saldivar
    p
      a(href="https://github.com/Ricsasa/virgin-spotlight", target="_blank") Github 
  block content
  include scripts