@media only screen and (min-width: 760px) {
  /* line 6, ../sass/base.scss */
  .main {
    box-shadow: -10px 10px rgba(0, 0, 0, 0.2);
  }

  /* line 9, ../sass/base.scss */
  article {
    width: 50%;
  }
}
@media only screen and (min-width: 960px) {
  /* line 15, ../sass/base.scss */
  article {
    width: 33%;
  }
}
/* line 20, ../sass/base.scss */
a {
  text-decoration: none;
  box-sizing: border-box;
}

/* line 25, ../sass/base.scss */
img {
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto;
}

/* line 32, ../sass/base.scss */
.submit {
  margin-right: 10px;
  font-size: 12px;
  font-family: "Montserrat",sans-serif;
  line-height: 1.8rem;
  color: #999;
}

/* line 40, ../sass/base.scss */
.shareSection {
  margin-left: 10px;
}

/* line 44, ../sass/base.scss */
.dateSection {
  margin-right: 10px;
}

/* line 48, ../sass/base.scss */
.date, .shares {
  font-weight: bold;
  margin-right: 3px;
}

/* line 53, ../sass/base.scss */
h2 {
  font-family: "Sanchez",serif;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  font-size: 26px;
  font-weight: normal;
  color: black;
}

/* line 64, ../sass/base.scss */
.content {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  height: 231px;
}

/* line 72, ../sass/base.scss */
.sub {
  background-color: #ff0a0a;
  color: white;
  font-family: "Josefina Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  min-width: 175px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
