@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Sanchez");
/* line 7, ../sass/base.scss */
body {
  background: url(https://res.cloudinary.com/www-virgin-com/f_auto,fl_lossy,q_80/virgin-com-prod/profiles/site_installer/themes/custom/virgin/images/bg-main.png?1490882117) #FFF;
}

/* line 11, ../sass/base.scss */
.main {
  box-shadow: -10px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 40em) {
  /* line 16, ../sass/base.scss */
  article {
    width: 29%;
  }
}
/* line 21, ../sass/base.scss */
a {
  text-decoration: none;
  box-sizing: border-box;
}

/* line 26, ../sass/base.scss */
img {
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto;
}

/* line 33, ../sass/base.scss */
.submit {
  margin-right: 10px;
  font-size: 12px;
  font-family: "Montserrat",sans-serif;
  line-height: 1.8rem;
  color: #999;
}

/* line 41, ../sass/base.scss */
.shareSection {
  margin-left: 10px;
}

/* line 45, ../sass/base.scss */
.dateSection {
  margin-right: 10px;
}

/* line 49, ../sass/base.scss */
.date, .shares {
  font-weight: bold;
  margin-right: 3px;
}

/* line 54, ../sass/base.scss */
.content {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  height: 231px;
  background-color: white;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 65, ../sass/base.scss */
.sub {
  background-color: #ff0a0a;
  color: white;
  font-family: "Josefina Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  min-width: 175px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

/* line 78, ../sass/base.scss */
section {
  width: 980px;
}

/* line 82, ../sass/base.scss */
article {
  float: left;
  margin: 20px;
}

/* line 87, ../sass/base.scss */
h2 {
  box-sizing: border-box;
  font-family: "Sanchez",serif;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  font-weight: normal;
  color: #333333;
  font-size: 26px;
  line-height: 30px;
  display: block;
  word-wrap: break-word;
}
